@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-primary: #4CAF50;
  --color-secondary: #FFEB3B;
  --color-background: #FFFFFF;
  --color-accent: #2196F3;
  --color-text: #333333; */

  --color-primary: #607D8B;
  --color-secondary: #FFC107;
  --color-background: #FAFAFA;
  --color-accent: #E91E63;
  --color-text: #424242;
}

body {
  color: rgb(var(--color-text));
  background: var(--color-background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}